@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: grid;
    margin: 0;
}

.tablecontent {
    display: grid;
    grid-template-columns: 300px minmax(0, 900px);
    gap: 16px;
    align-items: center;
}

.subtitle {
    font-size: medium;
    color: #5f5f5f;
    margin-top: -15px;
    margin-bottom: 50px;
}

main {
    font-size: medium;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #e7e7e77d;
    
}

main p {
    line-height: 1.6;
}

.navbar1 ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: center;
    border-bottom: 3px solid #5f5f5f;
    margin-bottom: 30px;
}

.navbar1 ul a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    font-size: medium;
    font-family: arial, sans-serif;
}

.navbar1 ul a:hover {
    background-color: #4c4c4c;
}

.navbar2{
    position: sticky;
    top: 0;
}

.navbar2 ul {
    display: block;
    margin-left: 50%;
    height: fit-content;
    background-color: #333;
    padding: 20px;
    list-style-type: none;
    border-radius: 5px;
}

.navbar2 ul li {
    margin-bottom: 5px;
    display: block;
    font-size: medium;
    font-family: arial, sans-serif;
    color: white;
    font-size: small;
}

.navbar2 li a:hover {
    background-color: #4c4c4c;
    cursor: pointer;
}

.navbar2 ul li a {
    color: white;
}